<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4 text-white-50 ">
                <h5>A propos</h5>
                <p class="text-justify">Taalim.ma est un site qui présente une multipe de cours en matière physique et Mathématique. Pour chaque niveau il y une plein de cours,Exercices ainsi que des examens</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Liens</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="list-unstyled quick-links">
                            <li><a [routerLink]="['/niveau/college']"><i class="fa fa-angle-double-right"></i>Collège</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="list-unstyled quick-links">
                            <li><a [routerLink]="['/niveau/lycee']"><i class="fa fa-angle-double-right"></i>Lycée</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contactez nous</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/contact']"><i class="fa fa-envelope"></i> Email</a></li>
                    <li><a href="https://www.linkedin.com/in/abdelilahsaid/" target="_blank "><i class="fa fa-linkedin"></i> Linkedin</a></li>
                    <li><a href="https://www.facebook.com/said.abdelilah.5" target="_blank "><i class="fa fa-envelope"></i> Facebook</a></li>
                    <li><a><i class="fa fa-location-arrow"></i> Rabat/Salé</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Taalim.ma</a></p>
        </div>
    </div>
</section>