<div class="row">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/4.jpg" class="img-fluid " alt="Los Angeles">
                <div class="carousel-caption">
                    <div class="mb-3">
                        <div class="mb-5 bg-dark rounded"> <span class="h1">Bienvenue sur <strong>Votre Site
                                    d'enseignement</strong></span> </div>
                        <div class="bg-warning rounded w-50 mx-auto"> <span class=" h3 mb-2">Veuillez choisir votre
                                Cycle</span></div>
                    </div>
                    <div>
                        <a class="btn btn-light mr-5" [routerLink]="['/niveau','college']">Collège</a><a
                            class="btn btn-light" [routerLink]="['/niveau','lycee']">Lycée</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="/assets/img/4.jpg " class="img-fluid " alt="Chicago ">
                <div class="carousel-caption ">
                    <div class="header-text hidden-xs">
                        <h2 class="text-danger"><strong>Votre École sur Internet</strong> </h2>
                        <h5 class="text-success"><strong>Cours, Exercices, Examens</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div class=" m-3">
    <div class="alert alert-secondary" role="alert">
        <div class="text-danger"><i class="fa fa-folder" aria-hidden="true"></i> Veuillez spécifier votre matière préférée </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/1acMath.jpg" class="card-img-top" alt="...">
            <div class="card-body">                
                <a [routerLink]="['/source','1AcMath']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/2acMath.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/source','2AcMath']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/3acMath.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/source','3AcMath']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/1acPc.jpg" class="card-img-top" alt="...">
            <div class="card-body">                
                <a [routerLink]="['/source','1AcPc']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/2acPc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/source','2AcPc']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/3acPc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/source','3AcPc']" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row mt-5 mb-5">
    <div class="card text-secondary">
        <img src="/assets/img/8.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Proverbe</h5>
            <h2 class="card-text text-center"><i> “L’éducation doit promouvoir à la fois le développement de
                    l’individualité et celui de la société. La société ne peut pas se développer si l’autonomie des
                    individus ne progresse pas.”</i></h2>
        </div>
    </div>
</div> -->